<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <div class="brand-name" fxFlex>Codebowl<span>.ph</span></div>
    <div class="menus" fxFlex="12" fxLayoutAlign="end center" fxLayoutGap="20px">
      <div fxLayoutAlign="center center" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">Home</div>
      <div fxLayoutAlign="center center" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">Contact</div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
