.landing__container {
  max-width: 1250px;
  margin: 0 auto;
}
.content {
  width: 100%;
  padding: 0 40px;
  height: calc(100vh - 115px);
  > div {
    &:first-child {
      width: 100%;
      h1 {
        font-weight: 400 !important;
        color: #555;
        margin: 10px 0;
      }
      p {
        margin: 0;
        color: #666;
        font-weight: 400;
      }
      .lang {
        margin: 20px 0;
        width: 55%;
      }
      .projects {
        margin: 20px 0;
        width: 70%;
        h4 {
          margin-bottom: 10px;
        }
        > div {
          margin-bottom: 10px;
          font-size: 11px;
          color: #888;
        }
        .second {
          background-color: #b4815a;
        }
        .third {
          background-color: #d2d2d2;
          color: #666 !important;
        }
      }
    }
  }
}
img {
  height: 300px;
}
::ng-deep {
  .mat-chip.mat-standard-chip {
    background-color: #f7f7f7;
    color: #666 !important;
  }
  .mat-chip {
    font-size: 11px !important;
    font-weight: 600;
    color: #666;
  }
  .projects .mat-chip {
    background-color: #d5655a;
    color: #fff !important;
    font-weight: 400;
  }
}
