/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
}
h1, h2, h3, h4 {
  color: #444;
}
h1 {
  font-weight: 400 !important;
  color: #555;
  margin: 10px 0;
}
